{% import 'utils.md.twig' as utils %}

`method` **{{ method.name }}**
{# set headerLink = node.namespace.FullyQualifiedStructuralElementName|replace({"\\Pandora3\\": "", "\\": "."}) ~ '.method-' ~ method.name #}
{# set headerTitle = method.name ~ (method.parent.name != node.name ? ' (inherited)') #}
{# <h4 id="{{ headerLink }}"><a href="#{{ headerLink }}" aria-hidden="true" node="header-anchor">#</a> {{ headerTitle }}</h4> #}

{{ method.parent.FullyQualifiedStructuralElementName != nodeFullName ? ('[Inherited] from ' ~ method.parent|route)|raw }}

{% if method.deprecated %}::: warning Deprecated
This means that this method will likely be removed in a future version
:::{% endif %}

{# Method signature #}
```php
{{ method.abstract ? 'abstract ' }}{{ method.visibility }} {{ method.static ? 'static ' }}{{ method.final ? 'final ' }}{{ method.name }}( {% if method.arguments is not empty %}{% for argument in method.arguments %}
{{- argument.types ? argument.types|join('|')~' ' }}
{{- argument.byReference ? '&' }}
{{- '$'~argument.name }}{{ argument.default is not null ? (' = '~utils.printValue(argument.default))|raw }}
{%- if not loop.last %}, {% endif %}
{%- endfor %} {% endif %})
{{- (method.name != '__construct' and method.response.types) ? ': '~method.response.types|join('|') }}
```

{{ method.summary|raw }}
{# method.description|raw #}

{% if method.arguments|length %}
**Arguments:**

| Arguemnt | Type | Description |
|----------|------|-------------|
{% for argument in method.arguments %}
| `${{ argument.name }}` | **{{ argument.types ? argument.types|route|first|replace({"|": "&nbsp;\\| "})|raw }}** | {{ argument.description|replace({'|': "\\|"})|raw }} |
{% endfor %}

{% endif %}{# method.arguments #}

{% if method.tags.throws|length or method.tags.throw|length %}
**Throws:**

{% for exception in method.tags.throws %}
{{ exception.types|route|first|raw }} {{ exception.description|raw }}
{% endfor %}
{% for exception in method.tags.throw %}
{{ exception.types|route|first|raw }} {{ exception.description|raw }}
{% endfor %}

{% endif %}{# method.throw #}

{% if method.name != '__construct' and method.response.types and method.response.types|join != 'void' %}
**Returns:**

Type: **{{ method.response.types|route|first|replace({"|": "&nbsp;| "})|raw }}**

{{ method.response.description|raw }}

{% endif %}{# method.response #}

{% if method.tags.see|length or method.tags.link|length %}
**See Also:**

{% for see in method.tags.see %}
* {{ see.reference }} {% if see.description %}- {{ see.description|raw }}{% endif %}
{% endfor %}
{% for link in method.tags.link %}
* {{ link.link }} {% if link.description and link.description != link.link %}- {{ link.description|raw }}{% endif %}
{% endfor %}

{% endif %}{# method.tags.see || method.tags.link #}

---

